---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---
You can also find my articles on <u><a href="https://scholar.google.com/citations?user=z8aPXUoAAAAJ&hl=en">my Google Scholar profile</a>.</u>

{% include base_path %}

<h2 style="margin-top: 20px;"> Featured Articles</h2>
<div style="width: 100%;display: inline-block;">
{% for post in site.publications reversed %}
  {% include archive-paper.html type='grid' %}
{% endfor %}
</div>


<style>
    .publication_list{
        display:none;
        margin-top: 15px;
    }
    small{
        font-size: 0.6em;
    }
</style>

<div class="publication_list">
        <h2 style="display:inline"> Journal articles <small class="smaller" id="journal_num">24</small> <small>documents</small></h2>

    <div  id="journal_papers" >
    </div>

</div>

<div class="publication_list" >
        <h2 > Conference papers <small class="smaller" id="conference_num">24</small> <small>documents</small></h2>

        <div id="conference_papers" >

        </div>
</div>

<div class="publication_list" >
        <h2 > Preprints <small class="smaller" id="preprint_num">24</small> <small>documents</small></h2>

    <div  id="preprint_papers" >
    </div>
</div>

<div class="publication_list" >
        <h2 > Thesis <small class="smaller" id="thesis_num">24</small> <small>documents</small></h2>

    <div  id="thesis_papers" >
    </div>
</div>

<div class="publication_list">
        <h2 > Reports <small class="smaller" id="report_num">24</small> <small>documents</small></h2>

    <div  id="report_papers" >
    </div>
</div>

<div class="publication_list">
        <h2 >Book chapters <small class="smaller" id="book_num">24</small> <small>documents</small></h2>

    <div  id="book_papers" >
    </div>
</div>


<div class="publication_list">
    
        <h2 >Patents <small class="smaller" id="patent_num">24</small> <small>documents</small></h2>
    
    <div  id="patent_papers" >
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{{ base_path }}/assets/js/publications.js"></script>