---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

You can also find my articles on <u><a href="{{author.googlescholar}}">my Google Scholar profile</a>.</u>

{% include base_path %}

{% for post in site.publications reversed %}
  {% include archive-paper.html %}
{% endfor %}




<style>
    .publication_list{
        display:none;
    }
</style>

<div class="publication_list">
        <h1 style="display:inline"> Journal articles <small id="journal_num">24</small> <small>documents</small></h1>

    <div  id="journal_papers" >
    </div>

</div>

<div class="publication_list" >
        <h1 > Conference papers <small id="conference_num">24</small> <small>documents</small></h1>

        <div id="conference_papers" >

        </div>
</div>

<div class="publication_list" >
        <h1 > Preprints <small id="preprint_num">24</small> <small>documents</small></h1>

    <div  id="preprint_papers" >
    </div>
</div>

<div class="publication_list" >
        <h1 > Thesis <small id="thesis_num">24</small> <small>documents</small></h1>

    <div  id="thesis_papers" >
    </div>
</div>

<div class="publication_list">
        <h1 > Reports <small id="report_num">24</small> <small>documents</small></h1>

    <div  id="report_papers" >
    </div>
</div>

<div class="publication_list">
        <h1 >Book chapters <small id="book_num">24</small> <small>documents</small></h1>

    <div  id="book_papers" >
    </div>
</div>


<div class="publication_list">
    
        <h1 >Patents <small id="patent_num">24</small> <small>documents</small></h1>
    
    <div  id="patent_papers" >
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{{ base_path }}/assets/js/publications.js"></script>