---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---
You can also find my articles on <u><a href="https://scholar.google.com/citations?user=z8aPXUoAAAAJ&hl=en">Google Scholar</a>.</u>

{% include base_path %}

<h2 style="margin-top: 20px;"> Featured Articles</h2>
<div style="width: 100%;display: inline-block;">
{% for post in site.publications reversed %}
  {% include archive-paper.html type='grid' %}
{% endfor %}
</div>


<style>
    .publication_list{
        display:none;
        margin-top: 15px;
    }
    small{
        font-size: 0.6em;
    }
</style>

<h2>Journal articles</h2>

List of papers




